In [3]:
#dependencies and set up
import os
import pandas as pd

%load_ext nb_black

In [25]:
#create paths for each csv to clean 1 at a time
path_1 = "Resources/School_Meal_Reimbursement_Year_2015-2016.csv"
path_2 = "Resources/School_Meal_Reimbursement_Year_2016-2017.csv"
path_3 = "Resources/School_Meal_Reimbursement_Year_2017-2018.csv"
path_4 = "Resources/School_Meal_Reimbursement_Year_2018-2019.csv"

#create out paths for cleaned csv files
out_path_1 = "Resources/clean_meal_reimbursement_year_2015_16.csv"
out_path_2 = "Resources/clean_meal_reimbursement_year_2016_17.csv"
out_path_3 = "Resources/clean_meal_reimbursement_year_2017_18.csv"
out_path_4 = "Resources/clean_meal_reimbursement_year_2018_19.csv"

#### 2015 - 2016 Data Cleaning

In [5]:
#import and read first csv for 2015 - 2016 data
#columns were initially colapsed, use dispay.max_columns to view all
pd.set_option('display.max_columns', None)
df_1 = pd.read_csv(path_1)
df_1.head()

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (34,36,40) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ProgramYear,ReportType,CEID,CEName,CECounty,ESC,TDARegion,TypeOfAgency,TypeOfSNPOrg,SiteID,SiteName,SiteCounty,ClaimDate,EnrollmentQty,FreeEligibleQty,ReducedEligibleQty,PaidEligibleQty,BreakfastDays,BreakfastTotal,BreakfastADP,BreakfastServedFree,BreakfastServedReduced,BreakfastServedPaid,LunchDays,LunchTotal,LunchADP,LunchServedFree,LunchServedReduced,LunchServedPaid,SnackDays,SnackTotal,SnackADP,SnackServedFree,SnackServedReduced,SnackServedPaid,MilkDays,Milktotal,MilkADP,MilkServedFree,MilkServedReduced,MilkServedPaid,BreakfastReimbursement,LunchReimbursement,SnackReimbursement,MilkReimbursement,TotalReimbursement
0,2015-2016,SCHOOLNUTRITIONPROGRAMCLAIMS,1,CAYUGA ISD,ANDERSON,7.0,2.0,Educational Institution,Public,1,CAYUGA H S,ANDERSON,08/01/2015 12:00:00 AM,191,55,10,126,6,240,40,94,26,120,6,556,92.67,185,37,334,0,0,0.0,0,0,0,0,0,0.0,0,0,0,265.8,796.96,0,0.0,"1,062.76"
1,2015-2016,SCHOOLNUTRITIONPROGRAMCLAIMS,1,CAYUGA ISD,ANDERSON,7.0,2.0,Educational Institution,Public,1,CAYUGA H S,ANDERSON,09/01/2015 12:00:00 AM,186,55,10,121,21,855,40.71,373,91,391,21,"1,705",81.19,626,115,964,0,0,0.0,0,0,0,0,0,0.0,0,0,0,"1,009.45","2,610.73",0,0.0,"3,620.18"
2,2015-2016,SCHOOLNUTRITIONPROGRAMCLAIMS,1,CAYUGA ISD,ANDERSON,7.0,2.0,Educational Institution,Public,1,CAYUGA H S,ANDERSON,10/01/2015 12:00:00 AM,186,44,13,129,21,866,41.24,398,80,388,21,"1,618",77.05,574,127,917,0,0,0.0,0,0,0,0,0,0.0,0,0,0,"1,039.74","2,464.28",0,0.0,"3,504.02"
3,2015-2016,SCHOOLNUTRITIONPROGRAMCLAIMS,1,CAYUGA ISD,ANDERSON,7.0,2.0,Educational Institution,Public,1,CAYUGA H S,ANDERSON,11/01/2015 12:00:00 AM,187,42,11,134,18,805,44.72,336,95,374,18,"1,542",85.67,489,128,925,0,0,0.0,0,0,0,0,0,0.0,0,0,0,937.65,"2,203.76",0,0.0,"3,141.41"
4,2015-2016,SCHOOLNUTRITIONPROGRAMCLAIMS,1,CAYUGA ISD,ANDERSON,7.0,2.0,Educational Institution,Public,1,CAYUGA H S,ANDERSON,12/01/2015 12:00:00 AM,186,42,11,133,14,539,38.5,234,44,261,14,"1,040",74.29,351,86,603,0,0,0.0,0,0,0,0,0,0.0,0,0,0,615.71,"1,544.46",0,0.0,"2,160.17"

In [6]:
#drop all columns not needed for analysis (only need quantity of students and quantity that qualifies for free or reduced lunch)
df_1.drop(columns=["ReportType", "ESC", "TDARegion", "SiteID", "SiteCounty", "BreakfastDays", "BreakfastTotal", 
                   "BreakfastADP", "BreakfastServedFree", "BreakfastServedReduced", "BreakfastServedPaid", 
                   "LunchDays", "LunchTotal", "LunchADP", "LunchServedFree", "LunchServedReduced",
                   "LunchServedPaid", "SnackDays", "SnackTotal", "SnackADP", "SnackServedFree",
                  "SnackServedReduced", "SnackServedPaid", "MilkDays", "Milktotal", "MilkADP",
                  "MilkServedFree", "MilkServedReduced", "MilkServedPaid", "BreakfastReimbursement",
                  "LunchReimbursement", "SnackReimbursement", "MilkReimbursement"], inplace=True)

In [7]:
df_1.head()

,ProgramYear,CEID,CEName,CECounty,TypeOfAgency,TypeOfSNPOrg,SiteName,ClaimDate,EnrollmentQty,FreeEligibleQty,ReducedEligibleQty,PaidEligibleQty,TotalReimbursement
0,2015-2016,1,CAYUGA ISD,ANDERSON,Educational Institution,Public,CAYUGA H S,08/01/2015 12:00:00 AM,191,55,10,126,"1,062.76"
1,2015-2016,1,CAYUGA ISD,ANDERSON,Educational Institution,Public,CAYUGA H S,09/01/2015 12:00:00 AM,186,55,10,121,"3,620.18"
2,2015-2016,1,CAYUGA ISD,ANDERSON,Educational Institution,Public,CAYUGA H S,10/01/2015 12:00:00 AM,186,44,13,129,"3,504.02"
3,2015-2016,1,CAYUGA ISD,ANDERSON,Educational Institution,Public,CAYUGA H S,11/01/2015 12:00:00 AM,187,42,11,134,"3,141.41"
4,2015-2016,1,CAYUGA ISD,ANDERSON,Educational Institution,Public,CAYUGA H S,12/01/2015 12:00:00 AM,186,42,11,133,"2,160.17"

In [8]:
#create series of rows for schools only in Travis county
travis_co_1 = df_1.loc[df_1["CECounty"] == "TRAVIS"]

#count the number of districts to match up with ethnicity data for consistency
travis_co_1["CEName"].nunique()

25

In [9]:
travis_co_1.dtypes

ProgramYear           object
CEID                   int64
CEName                object
CECounty              object
TypeOfAgency          object
TypeOfSNPOrg          object
SiteName              object
ClaimDate             object
EnrollmentQty         object
FreeEligibleQty       object
ReducedEligibleQty     int64
PaidEligibleQty       object
TotalReimbursement    object
dtype: object

In [10]:
#replace commas with "" to fix unable to parse string error
travis_co_1 = travis_co_1.replace(',','', regex=True)
travis_co_1.head()

,ProgramYear,CEID,CEName,CECounty,TypeOfAgency,TypeOfSNPOrg,SiteName,ClaimDate,EnrollmentQty,FreeEligibleQty,ReducedEligibleQty,PaidEligibleQty,TotalReimbursement
77951,2015-2016,1057,WAYSIDE SCHOOLS,TRAVIS,Educational Institution,Charter,WAYSIDE SCI-TECH MIDDLE AND H S,07/01/2015 12:00:00 AM,435,238,39,158,1739.31
77952,2015-2016,1057,WAYSIDE SCHOOLS,TRAVIS,Educational Institution,Charter,WAYSIDE SCI-TECH MIDDLE AND H S,08/01/2015 12:00:00 AM,443,231,40,172,8938.02
77953,2015-2016,1057,WAYSIDE SCHOOLS,TRAVIS,Educational Institution,Charter,WAYSIDE SCI-TECH MIDDLE AND H S,09/01/2015 12:00:00 AM,434,213,36,185,8071.61
77954,2015-2016,1057,WAYSIDE SCHOOLS,TRAVIS,Educational Institution,Charter,WAYSIDE SCI-TECH MIDDLE AND H S,10/01/2015 12:00:00 AM,431,216,37,178,6439.05
77955,2015-2016,1057,WAYSIDE SCHOOLS,TRAVIS,Educational Institution,Charter,WAYSIDE SCI-TECH MIDDLE AND H S,11/01/2015 12:00:00 AM,419,211,36,172,7361.79

In [11]:
#change datatypes for quantity and reimbursement columns before perfoming calculations
travis_co_1[["EnrollmentQty", "FreeEligibleQty", "PaidEligibleQty", "TotalReimbursement"]] = travis_co_1[["EnrollmentQty", "FreeEligibleQty", "PaidEligibleQty", "TotalReimbursement"]].apply(pd.to_numeric)

#check datatypes
travis_co_1.dtypes

ProgramYear            object
CEID                    int64
CEName                 object
CECounty               object
TypeOfAgency           object
TypeOfSNPOrg           object
SiteName               object
ClaimDate              object
EnrollmentQty           int64
FreeEligibleQty         int64
ReducedEligibleQty      int64
PaidEligibleQty         int64
TotalReimbursement    float64
dtype: object

In [39]:
#calcuate enrollment, free qty, reduced qty, paid qty, and total reiumbursement for each school for the entire school year
eligibility_by_school_15_16 = travis_co_1.groupby(["SiteName"]).agg({"ProgramYear": "first", 
                                      "CEID": "first", 
                                      "CEName": "first",
                                      "CECounty": "first",
                                      "TypeOfAgency": "first",
                                      "TypeOfSNPOrg": "first",
                                      "SiteName": "first",
                                      "ClaimDate": "last",
                                      "EnrollmentQty": "mean",
                                      "FreeEligibleQty": "mean",
                                      "ReducedEligibleQty": "mean",
                                      "PaidEligibleQty": "mean",
                                      "TotalReimbursement": "sum",
                                      })

eligibilty_by_school_15_16

,ProgramYear,CEID,CEName,CECounty,TypeOfAgency,TypeOfSNPOrg,SiteName,ClaimDate,EnrollmentQty,FreeEligibleQty,ReducedEligibleQty,PaidEligibleQty,TotalReimbursement
SiteName,,,,,,,,,,,,,
AKINS H S,2015-2016,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,AKINS H S,06/01/2016 12:00:00 AM,2672.636364,1498.181818,332.272727,842.181818,687826.59
ALLISON EL,2015-2016,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ALLISON EL,06/01/2016 12:00:00 AM,528.909091,470.363636,32.090909,26.454545,312450.55
ALTERNATIVE LEARNING CTR,2015-2016,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ALTERNATIVE LEARNING CTR,06/01/2016 12:00:00 AM,154.545455,123.727273,6.000000,24.818182,79520.88
ANDERSON H S,2015-2016,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ANDERSON H S,06/01/2016 12:00:00 AM,2259.000000,471.636364,95.363636,1692.000000,200577.49
ANDREWS EL,2015-2016,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ANDREWS EL,06/01/2016 12:00:00 AM,588.181818,544.545455,17.454545,26.181818,387794.56
...,...,...,...,...,...,...,...,...,...,...,...,...,...
WOOLDRIDGE EL,2015-2016,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,WOOLDRIDGE EL,06/01/2016 12:00:00 AM,639.363636,583.181818,29.181818,27.000000,431204.89
WOOTEN EL,2015-2016,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,WOOTEN EL,06/01/2016 12:00:00 AM,616.363636,562.454545,18.636364,35.272727,365637.49
YORK HOUSE,2015-2016,1249,TEXAS JUVENILE JUSTICE DEPARTMENT,TRAVIS,Government Agency,RCCI,YORK HOUSE,06/01/2016 12:00:00 AM,20.916667,20.916667,0.000000,0.000000,17909.20
ZAVALA EL,2015-2016,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ZAVALA EL,06/01/2016 12:00:00 AM,378.818182,352.181818,12.000000,14.636364,242597.77
ZILKER EL,2015-2016,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ZILKER EL,06/01/2016 12:00:00 AM,548.727273,104.636364,23.181818,420.909091,63445.73

In [26]:
#export to csv
eligibility_by_school_15_16.to_csv(out_path_1, index=False)

#### 2016 - 2017 Data Cleaning

In [29]:
#import and read first csv for 2016 - 2017 data
#columns were initially colapsed, use dispay.max_columns to view all
pd.set_option('display.max_columns', None)
df_2 = pd.read_csv(path_2)
df_2.head()

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (14,19,31,34,36,40) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ProgramYear,ReportType,CEID,CEName,CECounty,ESC,TDARegion,TypeOfAgency,TypeOfSNPOrg,SiteID,SiteName,SiteCounty,ClaimDate,EnrollmentQty,FreeEligibleQty,ReducedEligibleQty,PaidEligibleQty,BreakfastDays,BreakfastTotal,BreakfastADP,BreakfastServedFree,BreakfastServedReduced,BreakfastServedPaid,LunchDays,LunchTotal,LunchADP,LunchServedFree,LunchServedReduced,LunchServedPaid,SnackDays,SnackTotal,SnackADP,SnackServedFree,SnackServedReduced,SnackServedPaid,MilkDays,Milktotal,MilkADP,MilkServedFree,MilkServedReduced,MilkServedPaid,BreakfastReimbursement,LunchReimbursement,SnackReimbursement,MilkReimbursement,TotalReimbursement
0,2016-2017,SCHOOLNUTRITIONPROGRAMCLAIMS,1,CAYUGA ISD,ANDERSON,7,2,Educational Institution,Public,1,CAYUGA H S,ANDERSON,08/01/2016 12:00:00 AM,179,55,9,115,7,338,48.29,192,19,127,7,620,88.57,268,44,308,0,0,0,0,0,0,0,0,0.0,0,0,0,461.57,"1,097.92",0,0.0,"1,559.49"
1,2016-2017,SCHOOLNUTRITIONPROGRAMCLAIMS,1,CAYUGA ISD,ANDERSON,7,2,Educational Institution,Public,1,CAYUGA H S,ANDERSON,09/01/2016 12:00:00 AM,179,55,9,115,21,824,39.24,526,25,273,21,"1,687",80.33,714,117,856,0,0,0,0,0,0,0,0,0.0,0,0,0,"1,195.71","2,937.18",0,0.0,"4,132.89"
2,2016-2017,SCHOOLNUTRITIONPROGRAMCLAIMS,1,CAYUGA ISD,ANDERSON,7,2,Educational Institution,Public,1,CAYUGA H S,ANDERSON,10/01/2016 12:00:00 AM,175,48,5,122,20,830,41.5,518,16,296,20,"1,605",80.25,641,74,890,0,0,0,0,0,0,0,0,0.0,0,0,0,"1,170.4","2,593.1",0,0.0,"3,763.5"
3,2016-2017,SCHOOLNUTRITIONPROGRAMCLAIMS,1,CAYUGA ISD,ANDERSON,7,2,Educational Institution,Public,1,CAYUGA H S,ANDERSON,11/01/2016 12:00:00 AM,173,50,5,118,19,683,35.95,478,15,190,19,"1,463",77,624,73,766,0,0,0,0,0,0,0,0,0.0,0,0,0,"1,056.32","2,490.9",0,0.0,"3,547.22"
4,2016-2017,SCHOOLNUTRITIONPROGRAMCLAIMS,1,CAYUGA ISD,ANDERSON,7,2,Educational Institution,Public,1,CAYUGA H S,ANDERSON,12/01/2016 12:00:00 AM,174,51,5,118,16,594,37.13,423,13,158,16,"1,148",71.75,508,53,587,0,0,0,0,0,0,0,0,0.0,0,0,0,931.36,"1,996.54",0,0.0,"2,927.9"

In [31]:
#drop all columns not needed for analysis (only need quantity of students and quantity that qualifies for free or reduced lunch)
df_2.drop(columns=["ReportType", "ESC", "TDARegion", "SiteID", "SiteCounty", "BreakfastDays", "BreakfastTotal", 
                   "BreakfastADP", "BreakfastServedFree", "BreakfastServedReduced", "BreakfastServedPaid", 
                   "LunchDays", "LunchTotal", "LunchADP", "LunchServedFree", "LunchServedReduced",
                   "LunchServedPaid", "SnackDays", "SnackTotal", "SnackADP", "SnackServedFree",
                  "SnackServedReduced", "SnackServedPaid", "MilkDays", "Milktotal", "MilkADP",
                  "MilkServedFree", "MilkServedReduced", "MilkServedPaid", "BreakfastReimbursement",
                  "LunchReimbursement", "SnackReimbursement", "MilkReimbursement"], inplace=True)

In [35]:
#create series of rows for schools only in Travis county
travis_co_2 = df_2.loc[df_2["CECounty"] == "TRAVIS"]

#count the number of districts to match up with ethnicity data for consistency
travis_co_2["CEName"].nunique()

25

In [36]:
travis_co_2.dtypes

ProgramYear           object
CEID                   int64
CEName                object
CECounty              object
TypeOfAgency          object
TypeOfSNPOrg          object
SiteName              object
ClaimDate             object
EnrollmentQty         object
FreeEligibleQty       object
ReducedEligibleQty     int64
PaidEligibleQty       object
TotalReimbursement    object
dtype: object

In [37]:
#replace commas with "" to fix unable to parse string error
travis_co_2 = travis_co_2.replace(',','', regex=True)
travis_co_2.head()

,ProgramYear,CEID,CEName,CECounty,TypeOfAgency,TypeOfSNPOrg,SiteName,ClaimDate,EnrollmentQty,FreeEligibleQty,ReducedEligibleQty,PaidEligibleQty,TotalReimbursement
76696,2016-2017,1057,WAYSIDE SCHOOLS,TRAVIS,Educational Institution,Charter,WAYSIDE SCI-TECH MIDDLE AND H S,07/01/2016 12:00:00 AM,431,231,35,165,1548.98
76697,2016-2017,1057,WAYSIDE SCHOOLS,TRAVIS,Educational Institution,Charter,WAYSIDE SCI-TECH MIDDLE AND H S,08/01/2016 12:00:00 AM,488,175,24,289,8082.27
76698,2016-2017,1057,WAYSIDE SCHOOLS,TRAVIS,Educational Institution,Charter,WAYSIDE SCI-TECH MIDDLE AND H S,09/01/2016 12:00:00 AM,482,225,29,228,3920.51
76699,2016-2017,1057,WAYSIDE SCHOOLS,TRAVIS,Educational Institution,Charter,WAYSIDE SCI-TECH MIDDLE AND H S,10/01/2016 12:00:00 AM,480,211,29,240,413.7
76700,2016-2017,1057,WAYSIDE SCHOOLS,TRAVIS,Educational Institution,Charter,WAYSIDE SCI-TECH MIDDLE AND H S,11/01/2016 12:00:00 AM,479,213,26,240,6883.84

In [38]:
#change datatypes for quantity and reimbursement columns before perfoming calculations
travis_co_2[["EnrollmentQty", "FreeEligibleQty", "PaidEligibleQty", "TotalReimbursement"]] = travis_co_2[["EnrollmentQty", "FreeEligibleQty", "PaidEligibleQty", "TotalReimbursement"]].apply(pd.to_numeric)

#check datatypes
travis_co_2.dtypes

ProgramYear            object
CEID                    int64
CEName                 object
CECounty               object
TypeOfAgency           object
TypeOfSNPOrg           object
SiteName               object
ClaimDate              object
EnrollmentQty           int64
FreeEligibleQty         int64
ReducedEligibleQty      int64
PaidEligibleQty         int64
TotalReimbursement    float64
dtype: object

In [41]:
#calcuate enrollment, free qty, reduced qty, paid qty, and total reiumbursement for each school for the entire school year
eligibility_by_school_16_17 = travis_co_2.groupby(["SiteName"]).agg({"ProgramYear": "first", 
                                      "CEID": "first", 
                                      "CEName": "first",
                                      "CECounty": "first",
                                      "TypeOfAgency": "first",
                                      "TypeOfSNPOrg": "first",
                                      "SiteName": "first",
                                      "ClaimDate": "last",
                                      "EnrollmentQty": "mean",
                                      "FreeEligibleQty": "mean",
                                      "ReducedEligibleQty": "mean",
                                      "PaidEligibleQty": "mean",
                                      "TotalReimbursement": "sum",
                                      })

eligibility_by_school_16_17

,ProgramYear,CEID,CEName,CECounty,TypeOfAgency,TypeOfSNPOrg,SiteName,ClaimDate,EnrollmentQty,FreeEligibleQty,ReducedEligibleQty,PaidEligibleQty,TotalReimbursement
SiteName,,,,,,,,,,,,,
AKINS H S,2016-2017,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,AKINS H S,06/01/2017 12:00:00 AM,2639.818182,1413.909091,290.090909,935.818182,828531.04
ALLISON EL,2016-2017,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ALLISON EL,06/01/2017 12:00:00 AM,458.545455,408.545455,17.909091,32.090909,268526.03
ALTERNATIVE LEARNING CTR,2016-2017,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ALTERNATIVE LEARNING CTR,06/01/2017 12:00:00 AM,144.636364,111.454545,5.636364,27.545455,84981.00
ANDERSON H S,2016-2017,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ANDERSON H S,06/01/2017 12:00:00 AM,2200.454545,445.181818,87.363636,1667.909091,193494.49
ANDREWS EL,2016-2017,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ANDREWS EL,06/01/2017 12:00:00 AM,574.363636,526.909091,23.272727,24.181818,446195.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...
WOOLDRIDGE EL,2016-2017,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,WOOLDRIDGE EL,06/01/2017 12:00:00 AM,615.454545,547.272727,29.818182,38.363636,386970.72
WOOTEN EL,2016-2017,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,WOOTEN EL,06/01/2017 12:00:00 AM,568.818182,507.818182,20.090909,40.909091,341959.97
YORK HOUSE,2016-2017,1249,TEXAS JUVENILE JUSTICE DEPARTMENT,TRAVIS,Government Agency,RCCI,YORK HOUSE,04/01/2017 12:00:00 AM,12.000000,12.000000,0.000000,0.000000,7155.60
ZAVALA EL,2016-2017,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ZAVALA EL,06/01/2017 12:00:00 AM,341.727273,312.000000,12.909091,16.818182,215396.61
ZILKER EL,2016-2017,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ZILKER EL,06/01/2017 12:00:00 AM,562.818182,102.727273,20.545455,439.545455,62527.72

In [42]:
#export to csv
eligibility_by_school_16_17.to_csv(out_path_2, index=False)